doctype html
html
  head
    title search results for #{q}
    include includes/head.pug
  body(class=""+ user_preferences.theme +"")
    include includes/topbar.pug
    #search.sr.search-page
      form(action="/r/" + subreddit + "/search", method="GET")
        div
          label(for="q") search
            input(type="text", name="q", id="q", placeholder="search", value=""+ q +"")
        div
          label(for="restrict_sr") limit my search to r/#{subreddit}
            if restrict_sr === 'on'
              input(type="checkbox", name="restrict_sr", id="restrict_sr", checked="checked")
            else
              input(type="checkbox", name="restrict_sr", id="restrict_sr")
        div
          label(for="nsfw") include NSFW results
            if nsfw === 'on'
              input(type="checkbox", name="nsfw", id="nsfw", checked="checked")
            else
              input(type="checkbox", name="nsfw", id="nsfw")
        div
          //- Let me know if there's a better way to add selected attribute!
          label(for="sort") sorted by: 
            select(name="sort",  id="sort")
              if sortby === 'relevance' || !sortby
                option(value="relevance", selected="selected") relevance
                option(value="top") top
                option(value="new") new
                option(value="comments") comments
              if sortby === 'top'
                option(value="relevance") relevance
                option(value="top", selected="selected") top
                option(value="new") new
                option(value="comments") comments
              if sortby === 'new'
                option(value="relevance") relevance
                option(value="top") top
                option(value="new", selected="selected") new
                option(value="comments") comments
              if sortby === 'comments'
                option(value="relevance") relevance
                option(value="top") top
                option(value="new") new
                option(value="comments", selected="selected") comments
        div
          //- Let me know if there's a better way to add selected attribute!
          label(for="t") links from: 
            select(name="t",  id="t")
              if past === 'hour'
                option(value="hour", selected="selected") hour
                option(value="day") 24 hours
                option(value="week") week
                option(value="month") month
                option(value="year") year
                option(value="all") all time
              if past === 'day'
                option(value="hour") hour
                option(value="day", selected="selected") 24 hours
                option(value="week") week
                option(value="month") month
                option(value="year") year
                option(value="all") all time
              if past === 'week'
                option(value="hour") hour
                option(value="day") 24 hours
                option(value="week", selected="selected") week
                option(value="month") month
                option(value="year") year
                option(value="all") all time
              if past === 'month'
                option(value="hour") hour
                option(value="day") 24 hours
                option(value="week") week
                option(value="month", selected="selected") month
                option(value="year") year
                option(value="all") all time
              if past === 'year'
                option(value="hour") hour
                option(value="day") 24 hours
                option(value="week") week
                option(value="month") month
                option(value="year", selected="selected") year
                option(value="all") all time
              if past === 'all' || !past
                option(value="hour") hour
                option(value="day") 24 hours
                option(value="week") week
                option(value="month") month
                option(value="year") year
                option(value="all", selected="selected") all time
        input(type="submit", value="search")
    #links.search
      if json.posts.length <= 0
        h1 no results
      else
        each post in json.posts
          .link
            .upvotes
              .arrow
              span #{kFormatter(post.ups)}
              .arrow.down
            .image
              a(href="" + post.permalink + "", rel="noopener noreferrer")
                .no-image no image
            .title
              a(href="" + post.permalink + "", rel="noopener noreferrer") #{cleanTitle(post.title)}
            .meta
              p.submitted(title="" + toUTCString(post.created) + "") submitted #{timeDifference(post.created)} by
                //- I believe finding posts by deleted authors is impossible
                if post.author === '[deleted]'
                  span [deleted]
                else
                  a(href="/u/" + post.author + "")
                    | #{post.author}
                | to
                a(href="/r/" + post.subreddit + "", class="subreddit") r/#{post.subreddit}
              a.comments(href="" + post.permalink + "") #{post.num_comments} comments
    if json.before || json.after
      p view more:
    if json.before && !json.search_firstpage
      a(href="?q=" + q + "&restrict_sr=" + restrict_sr + "&before=" + json.before + "") ‹ prev
    if json.after
      a(href="?q=" + q + "&restrict_sr=" + restrict_sr + "&after=" + json.after + "") next ›
    include includes/footer.pug
